.cabecalho {
  grid-area: header;
  background: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  display: flex;
  height: 15vh;
}

.notification_area {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  left: 63%;
  height: 50%;
  width: 15vw;
  border-radius: 20vh;
  gap: 2vh;
  padding: 2vh;
  border: 0.5px solid rgb(215, 215, 215);
}
.notification__area__img {
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle();
 background-color: #F5F5F5;
 height: 7.5vh;
  position: relative;
  right: 6%;
  padding: 1.5vh;
}
.notification__area__img img {

  height: 70%;
}

.notification__area__number-of-notifications {
  background-color: black;
  padding: 1.5vh;
  color: white;
  clip-path: circle();
}

.sidebar__logo {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  position: relative;
  bottom: 3%;
}
.user-dados {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  width: 30vw;
}
.userdados__user__name {
  text-align: center;
  width: 100%;
  height: 100%;
  color: gray;
}
.userdados__Username {
  color: gray;
  text-align: end;
  font-size: 1.3em;
}


.userdados--user--foto {
  clip-path: circle();
  padding: 1vh; 
  
  height: 12vh;
  background-color: black;
}
.sidebar__logo img {
  height: 100%;
  clip-path: circle();
}

.sidebar__logo {
  background-color: white;
  clip-path: circle();
}
